.calculator {
  .content {
    margin: 20px;
    .btn-number {
      margin-right: 5px;
    }
    .clear-btn {
      margin-left: 10px;
    }
    .number-input {
        width: 20%;
        padding: 4px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
  }
  
}
