<form [formGroup]="calculatorForm">
  <div class="container calculator">
    <div class="content">
      <label> Input: </label>
      <input type="text" formControlName="input" class="number-input" />
      <button class="btn btn-primary clear-btn" (click)="onClear()">
        Clear
      </button>
    </div>
    <div class="content">
      <button
        class="btn btn-primary btn-number"
        *ngFor="let number of numberList"
        (click)="setInputValue(number)"
      >
        {{ number }}
      </button>
    </div>
    <div class="content">
      <button
        class="btn btn-primary btn-number"
        *ngFor="let operator of operatorList"
        (click)="setInputValue(operator)"
      >
        {{ operator }}
      </button>
    </div>
    <div class="content">
      <button
        class="btn btn-primary"
        (click)="onSubmit()"
        *ngIf="isInputEntered"
      >
        =
      </button>
    </div>

    <h4 class="result" *ngIf="isResultShown">
      Result is: {{ finalResultValue }}
    </h4>
  </div>
</form>
